trabajo15.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        304,
        632
      ],
      "id": "f1b2db18-39c1-4208-bf1b-73a046ed4577",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/mundo/rss.xml",
        "options": {}
      },
      "id": "2e534e66-6c66-4e24-97f0-0048428a6355",
      "name": "Fetch News Headlines",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        528,
        632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titular: {{ $json.title }}\nDescripción: {{ $json.content }}",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un editor de noticias muy exigente. Tu trabajo es decidir si una noticia merece ser publicada urgentemente o no. Responde SOLO con JSON puro sin bloques de código:\n\n{\n  \"publicar\": true o false,\n  \"urgencia\": \"alta\" o \"media\" o \"baja\",\n  \"categoria\": \"Política\" o \"Economía\" o \"Tecnología\" o \"Desastre\" o \"Ciencia\" o \"Otro\",\n  \"titular\": \"reescribe el titular de forma más impactante\",\n  \"por_que\": \"una frase explicando por qué importa o no\"\n}\n\nPublica SOLO si la noticia tiene impacto real en la gente. Ignora noticias de farándula, clickbait o triviales."
            }
          ]
        },
        "batching": {}
      },
      "id": "0bb8ac1e-4aef-4068-be14-60490693df89",
      "name": "AI News Judge",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1248,
        640
      ],
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parsed = JSON.parse($input.item.json.text);\nreturn { json: {\n  ...parsed,\n  original_title: $(\"Loop Each Headline\").item.json.title,\n  link: $(\"Loop Each Headline\").item.json.link\n}};"
      },
      "id": "4afb2a51-37d9-4c9f-9066-e28238075141",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        640
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "38cdf34b-9dec-4515-bb1e-d0b344d61da0",
      "name": "Loop Each Headline",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        632
      ]
    },
    {
      "parameters": {},
      "id": "11ae89e6-8c52-4a97-bdd8-485faa1297bd",
      "name": "Dropped News",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2064,
        928
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "7fcd9674-71d3-40ed-af2a-461a61739643",
      "name": "Limit to 3 News",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        752,
        632
      ]
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1248,
        896
      ],
      "id": "517a991c-ba53-4187-aaf3-23e173e9f3f5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "FxNHcr1gd6KUtLXL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgencia }}",
                    "rightValue": "alta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b7404432-d369-461d-ae2c-ed0a62f68eb7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgencia }}",
                    "rightValue": "media",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "29cd7e23-96c8-453f-a76a-2960a862bc6e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Media"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgencia }}",
                    "rightValue": "baja",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "63d67032-0627-422d-956d-9532cf429750"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Baja"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Descartada"
        }
      },
      "id": "84eff356-ef4f-4734-a2ed-50f3f51d1287",
      "name": "Route by Urgency",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1728,
        608
      ]
    },
    {
      "parameters": {
        "chatId": "6132726794",
        "text": "=🔴 *URGENTE*  | {{ $json.categoria }}\n\n *{{ $json.titular }}*\n\n *¿Por qué importa?*\n{{ $json.por_que }}\n\n[Leer noticia completa]({{ $json.link }})",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "61e4d3db-ecc2-4fb0-a3eb-fabe0e9d9a96",
      "name": "Telegram: Urgente",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        176
      ],
      "webhookId": "919f9856-712a-4e4f-bccf-092b84471112",
      "credentials": {
        "telegramApi": {
          "id": "qb5eJo0WeKbZ5jP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6132726794",
        "text": "=🟡 *IMPORTANTE*  | {{ $json.categoria }}\n\n*{{ $json.titular }}*\n\n *¿Por qué importa?*\n{{ $json.por_que }}\n\n[Leer noticia completa]({{ $json.link }})",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "4bfbd065-13c6-4b45-a8dc-6e5036d42cd1",
      "name": "Telegram: Importante",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2096,
        368
      ],
      "webhookId": "8a817b7c-89bf-4052-b654-fe5e269cdd6c",
      "credentials": {
        "telegramApi": {
          "id": "qb5eJo0WeKbZ5jP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6132726794",
        "text": "=🟢 *AL DÍA*  |  {{ $json.categoria }}\n\n*{{ $json.titular }}*\n\n *¿Por qué importa?*\n{{ $json.por_que }}\n\n[Leer noticia completa]({{ $json.link }})",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "250eac37-1d8c-4b9b-9dce-d66e42e28e7e",
      "name": "Telegram: Al Día",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        672
      ],
      "webhookId": "6285fd92-a8cc-49b0-b1d8-d659a59c5511",
      "credentials": {
        "telegramApi": {
          "id": "qb5eJo0WeKbZ5jP9",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch News Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News Headlines": {
      "main": [
        [
          {
            "node": "Limit to 3 News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Judge": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Route by Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Headline": {
      "main": [
        [],
        [
          {
            "node": "AI News Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropped News": {
      "main": [
        [
          {
            "node": "Loop Each Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 3 News": {
      "main": [
        [
          {
            "node": "Loop Each Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Judge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route by Urgency": {
      "main": [
        [
          {
            "node": "Telegram: Urgente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Importante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Al Día",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dropped News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Urgente": {
      "main": [
        [
          {
            "node": "Loop Each Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Importante": {
      "main": [
        [
          {
            "node": "Loop Each Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Al Día": {
      "main": [
        [
          {
            "node": "Loop Each Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c1ef281681378ae706e285b4871e5546c065c2c6cde32cf8d2f329c672de0ea"
  }
}
