trabajo15.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/mundo/rss.xml",
        "options": {}
      },
      "id": "eb81f33f-2698-436b-be54-0a9d2072c0e3",
      "name": "Fetch News Headlines",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        144,
        752
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titular: {{ $json.title }}\nDescripción: {{ $json.content }}",
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "Eres un editor de noticias muy exigente. Tu trabajo es decidir si una noticia merece ser publicada urgentemente o no. Responde SOLO con JSON puro sin bloques de código:\n\n{\n  \"publicar\": true o false,\n  \"urgencia\": \"alta\" o \"media\" o \"baja\",\n  \"categoria\": \"Política\" o \"Economía\" o \"Tecnología\" o \"Desastre\" o \"Ciencia\" o \"Otro\",\n  \"titular\": \"reescribe el titular de forma más impactante\",\n  \"por_que\": \"una frase explicando por qué importa o no\"\n}\n\nPublica SOLO si la noticia tiene impacto real en la gente. Ignora noticias de farándula, clickbait o triviales."
            }
          ]
        },
        "batching": {}
      },
      "id": "fee324d3-7230-4e88-9dab-4d3fac1e5eae",
      "name": "AI News Judge",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        816,
        624
      ],
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parsed = JSON.parse($input.item.json.text);\nreturn { json: {\n  ...parsed,\n  original_title: $(\"Loop Each Headline\").item.json.title,\n  link: $(\"Loop Each Headline\").item.json.link\n}};"
      },
      "id": "0921f207-8c25-4ddf-ab1d-2747ed8c7119",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        624
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "0478844c-4bec-4551-ab65-7a6901a554e6",
      "name": "Loop Each Headline",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        752
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "38185662-2638-4057-b08e-55cd3114e8a3",
      "name": "Limit to 3 News",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        368,
        752
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        832,
        848
      ],
      "id": "03cf4d01-aaf2-4240-850e-3fbca9d57eaf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lJtzP7OT9rDuzKb6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        752
      ],
      "id": "d31d65d0-1ca1-4b8f-b60e-842afd5c149a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PK7n2K9j9iRAI362spixtN1uaU9V3DOL8SqFQuXJ4uA",
          "mode": "list",
          "cachedResultName": "nn8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PK7n2K9j9iRAI362spixtN1uaU9V3DOL8SqFQuXJ4uA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PK7n2K9j9iRAI362spixtN1uaU9V3DOL8SqFQuXJ4uA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Urgencia": "={{ $json.urgencia }}",
            "Categoria": "={{ $json.categoria }}",
            "Titular": "={{ $json.titular }}",
            "Explicacion": "={{ $json.por_que }}",
            "Link": "={{ $json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Urgencia",
              "displayName": "Urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Titular",
              "displayName": "Titular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Explicacion",
              "displayName": "Explicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c8703450-a9aa-4ad5-aab2-017ea84baa76",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        624
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gMgPeWQABN3Ct4kg",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "Fetch News Headlines": {
      "main": [
        [
          {
            "node": "Limit to 3 News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Judge": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Headline": {
      "main": [
        [],
        [
          {
            "node": "AI News Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 3 News": {
      "main": [
        [
          {
            "node": "Loop Each Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Judge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch News Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Each Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42b5df033c7ff061fdb8b2c115c372fcc692f10cfe3f2b8faa5cc0ded988c043"
  }
}
