trabajo9.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        192
      ],
      "id": "35100a27-9cb8-409b-a54b-3b2bbf4d4785",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all?fields=name,region,population,capital,languages",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        192
      ],
      "id": "d2b9ff33-9282-4338-86d7-8d79ca0b715a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35f4747c-9603-4da4-8e3e-a0388d1a4ff2",
              "leftValue": "={{ $json.population }}",
              "rightValue": 50000000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        96
      ],
      "id": "63cc3bc4-b2c4-4569-aba3-a62ae48e7bca",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c13d28e7-e529-4b82-b26f-297b17378983",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Americas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        0
      ],
      "id": "2ff26f47-4f6a-4f10-b884-ee767513fa16",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "error_timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "failed_url",
              "value": "https://restcountries.com/v3.1/all?fields=name,region,population,capital,languages",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e95ca4d0-bf1a-41a7-ba8d-85f227d56b8d",
      "name": "Log HTTP Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "error_timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "failed_step",
              "value": "Region Filter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1a8d41dd-9cd1-4e3a-809d-5c55132e0721",
      "name": "Log Region Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "error_timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "failed_step",
              "value": "Population Filter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9dc86dca-8a2e-4881-92f0-0da438cc1f32",
      "name": "Log Filter Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        192
      ]
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log HTTP Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Filter Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Log Region Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1c1ef281681378ae706e285b4871e5546c065c2c6cde32cf8d2f329c672de0ea"
  }
}
